{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h3 class="bs-about-title">Technologies used: </h3>
    <div class="bs--about-content">
        <img class="img-container" src="sf.png">
        <img class="img-container" src="mysql.png">
        <img class="img-container" src="css.png">
    </div>

{% endblock %}
