{% extends 'base.html.twig' %}

{% block title %}User Account{% endblock %}


{% block body %}

    {% if userData is defined and userData is not null %}

        {{ userData.firstname }}
        {{ userData.lastname }}
        {{ userData.email }}
        {{ userData.mobile }}

        <h1>Change password here: </h1>

    {% endif %}

{% endblock %}
