* {
    box-sizing: border-box;
}

html {
    background: white;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
}

.homepage-bs {
    height: 70vw;
    font-size: 1rem;
    font-family: DejaVu Sans Mono, monospace;
    color: #302e2e;
    line-height: 24px;
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #0f3443, #34e89e);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: #faf9f5;*/
    background: #FFFFFF;
    border-radius: 35px;
}



.bs--header {
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    height: 50%;
}

.bs--menu__nav {
    display: flex !important;
    justify-content: space-around;
    width: 400px;
    margin-top: 20px;
    color: rebeccapurple !important;
    list-style-type: none;
}

.bs--btn__login {
    display: flex;
    border: none;
    margin-top: 20px;
    /*color: #20002c;*/
    font-family: DejaVu Sans Mono, monospace;
    font-size: 14px;
}

.bs--btn__login:hover {
    -webkit-transform: scale(1.2);
}

.bs__img {
    width: 100px;
    height: 70px;
    padding-top: 10px;
    border-radius: 50%;
    transform: skewY(10deg);
    background: black;
}

.bs__img:hover {
    -webkit-transform: scale(1);
}
/**
CHECK COLOR OF ANCHORS, #2002c seems pretty okay
 */
a {
    text-decoration: none;
    /*color: #20002c !important*/;
}

.bs-menu--item:hover {
    -webkit-transform: scale(1.2);
}

.logo {
    margin-top: 5px;
}

.bs--logo__text {
    color: #6cd106;
    font-weight: bolder;
}

.bs--logo__text:hover {
    -webkit-transform: scale(1.2);
    transform: rotate(10deg);
}

.main-hero {
    padding: 2rem 0 4rem;
    background: initial;
    margin: 10px 0 0 0;
}

.main-hero__title {
    line-height: 24px;
    display: flex;
    justify-content: center;
    background: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    /*color: #fff;*/
    color: #20004e;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear;
    font-size: 2rem;
    width: 70vw;
    font-weight: bolder;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.main-hero__line {
    border-top: 5px solid;
    margin: 10px 0 0 17vw;
    width: 35%;
}

.main-hero__subtitle {
    background: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    color: #20004e;
    font-weight: bolder;
    line-height: 24px;
    font-family: DejaVu Sans Mono, monospace;
    margin: 7px 30px 0 0;
}

.main-hero__line-second {
    border-top: 5px solid;
    margin: 10px 0 0 40vw;
    width: 59%;
}

.bs--search-form {
    display: flex;
}

.search__select--from, .search__select--to, .js-datepicker {
    width: 15vw;
    height: 65px;
}

.suggestions {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggestion {
    /*height: 65px;*/
    width: 15vw;
    cursor: pointer;
    padding: 10px;
}

.btn--black__search {
    /*grid-area: none;*/
    cursor: pointer;
    background: cornflowerblue !important;
    color: white;
    border-radius: 20px;
    margin: 20px 10px;
    padding: 10px;
    height: fit-content;
}

.cart-select {
    background: cornflowerblue;
    /*color: #20002c !important*/;
    font-weight: 600;
    position: relative;
    bottom: 10px;
    border-radius: 20px;
    padding: 15px;
    color: white;
}

.search__select-label-from {
    text-transform: uppercase;
    z-index: 1;
    left: 20%;
    font-size: 10px;
    color: white;
    font-family: DejaVu Sans Mono, monospace;
    display: flex;
}

.search__select-label-to {
    display: flex;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 10px;
    font-family: DejaVu Sans Mono, monospace;
}

.search__select-label-datefrom {
    display: flex;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 10px;
    font-family: DejaVu Sans Mono, monospace;
}

.search__select-label-dateto {
    display: flex;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 10px;
    font-family: DejaVu Sans Mono, monospace;
}

input[type=text] {
    border-bottom-color: white;
    margin: 10px;
}

input[type=number] {
    border-bottom-color: white;
    margin: 10px;
}

input[type=submit] {
    padding-top: 10px;
}

.container-fields-register {
    display: flex;
    justify-content: center;
}

.container-fields-cart {
    display: flex;
    justify-content: left;
    margin-left: 150px;
}

form[name="registration"] {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    z-index: 1;
}

form[name="change_password"] {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

label[for="change_password_currentPassword"] {
    display: flex;
    margin-left: 10px;
}

label[for="change_password_newPassword_first"] {
    display: flex;
    margin-left: 10px;
}

label[for="change_password_newPassword_second"] {
    display: flex;
    margin-left: 10px;
}

.moving-obj {
    position: relative;
    top: -350px;
    right: 65vh;
    mix-blend-mode: overlay;
    left: -1800px;
    width: 100px;
}

#id-modal {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    top: 0;
    left: 0;
    background: green;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.bs__modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.container-fields {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: start;
    align-items: center;
    padding-bottom: 45px;
    position: relative;
}

.login-title {
    margin: 10px 20px;
    color: #2002cc;
    font-size: 25px;
    font-weight: bolder;
}

.register-title {
    color: #2002cc;
    font-size: 25px;
    font-weight: bolder;
    position: absolute;
}

.change-password-title {
    color: #a3a3a3;
    font-size: 20px;
    position: absolute;
}

input[type=email], input[type=password] {
    background: white;
    border-bottom-color: white;
    margin: 10px;
}

.btn--login__submit {
    background: cornflowerblue !important;
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: 10px;
}

.btn-box-register {
    margin-top: -40%;
}

.btn-box-changePassword {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.btn--change-password__submit {
    background: forestgreen !important;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.btn--register__submit {
    background: cornflowerblue !important;
    color: white;
}

.search-results_main-content {
    background: #cbb4d4;
    width: 100%;
    margin-top: -20px;
    height: 60vh;
}

input[type=checkbox] {
    vertical-align: middle;
    bottom: 1.1px;
    position: relative;
}

#registration_agreeTerms {
    display: block;
    margin-left: auto;
    bottom: 50%;
    margin-right: 20%;
}

.btn--green {
    background: #0ab0ab !important;
    padding: 10px;
    border-radius: 10%;
}

label {
    display: inline-block;
}

.sb--travel-info {
    width: 100%;
    padding: 2rem 0;
    position: sticky;
    top: 0;
    z-index: 3;
}

.sb--results-notification {
    color: brown;
    font-weight: 900;
    margin-left: 50px;
    letter-spacing: 1px;
}

[data-notification] {
    color: #888888;
}

.cart-title {
    color: #20002c;
    text-align: center;
    margin-right: 50px;
}

.sb--cart-row {
    display: flex;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    justify-content: left;
    margin-left: 150px;
}

.company-info {
    font-size: 20px;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: center;
}

.price-infos {
    display: block;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

#child-price, #student-price, #adult-price, #pensioner-price {
    font-weight: 600;
}

.child-price-cart, .student-price-cart, .adult-price-cart, .pensioner-price-cart {
    display: flex;
    justify-content: center;
}

.pricing-title {
    color: black;
    font-weight: 600;
}

.btn-cart-submit {
    text-align: center;
    margin-top: 10px;
    background: cornflowerblue !important;
    border-radius: 20px;
    /*color: #20002c;*/
    padding: 10px;
    position: relative;
    font-weight: 600;
    color: white;
    margin-right: 100px;
}

.flash-success {
    color: #0d9488;
}

.flash-warning {
    color: red;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 50px;
}

#price-data {
    margin: 20px;
}

.fa, .close {
    cursor: pointer;
}


.fa-money {
    position: relative;
    top: 20px;
}

.icon {
    display: none;
}

.total-price-text {
    position: relative;
    top: 15px;
}

.price-totals {
    color: black;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    top: 20px;
}

.cart-break-info {
    color: bisque;
    border: 0.5px solid darkgrey;
}

.cart-break {
    border: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: bisque;
    border: 0.5px solid darkgrey;
}

/*----------------------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
    .homepage-bs {
        justify-content: center;
        /*height: calc(100% + 10px);*/
        height: 70vw;
    }

    .bs-menu--item {
        display: none;
    }

    .icon {
        display: contents;
        position: absolute;
    }


    .responsive {
        display: flex;
        position: relative;
        justify-content: space-evenly;
    }

    .responsive .bs-menu--item {
        display: block;
        text-align: center;
    }


    .moving-obj {
        display: none;
    }

    .btn-box-register {
        margin-top: 0px;
    }

    .main-hero__title {
        font-size: 14px;
        width: 100%;
    }

    .main-hero__subtitle {
        font-size: 14px;
        width: 100%;
    }

    .bs--search-form {
        display: flex;
        justify-content: center;
    }

    .search__select--from, .search__select--to, .js-datepicker {
        height: 50px;
        margin: 2px;
    }

    input[type=submit] {
        padding-top: 15px;
        margin-top: 2px;
    }

    .btn--black__search {
        position: relative;
        left: 0;
        margin-left: 5px;
        height: 50px;
    }

    input::placeholder {
        font-size: 9px;
    }

    .bs--header {
        justify-content: end;
    }

    .logo {
        width: 100%;
    }

    .suggestion {
        width: 100%;
        margin-left: 20px;
        padding: 10px;
    }
}

@media only screen and (max-width: 415px) {
    .p-question {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*-----------------------------------------------------------------------------*/

@media only screen and (max-width: 952px) {
    .main-hero__title, .main-hero__subtitle {
        font-size: 12px;
        letter-spacing: 5px;
    }

    .bs--search-form {
        flex-direction: column;
        align-items: center;
    }

    .search__select--from, .search__select--to, .js-datepicker {
        width: 100%;
    }
}

@media only screen and (min-width: 952px) {
    .main-hero__title, .main-hero__subtitle {
        font-size: 28px;
        letter-spacing: 7px;
    }
}

@media only screen and (max-width: 1069px) {
    input::placeholder {
        font-size: 15px;
    }

    .bs--search-form {
        display: flex;
        justify-content: center;
    }

    .main-hero__title {
        width: 100%;
    }

    .main-hero__subtitle {
        width: 100%;
    }

    input[type=submit] {
        padding-top: 13px;
    }

    .btn--black__search {
        position: relative;
        left: 0;
        margin-left: 5px;
        padding-bottom: 13px;
        margin-top: 2px;
    }

    .search__select--from, .search__select--to, .js-datepicker {
        height: 50px;
        margin: 2px;
    }
}

@media only screen and (min-width: 1069px) {
    input::placeholder {
        font-size: 15px;
    }

    .bs--search-form {
        display: flex;
        justify-content: center;
    }

    .main-hero__title {
        width: 100%;
    }

    .main-hero__subtitle {
        width: 100%;
    }

    .search__select--from, .search__select--to, .js-datepicker {
        margin: 2px;
    }
}

@media only screen and (max-width: 500px) {
    .container-fields-cart {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .sb--cart-row {
        display: flex;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        justify-content: center;
        font-size: 15px;
    }

    .btn-cart-submit {
        margin-right: 100px;
        position: relative;
        padding: 10px;
    }

    .quantity-form {
        margin-top: 10px;
    }

    label[for="cart_childQuantity"] {
        margin-left: 10px;
    }

    label[for="cart_studentQuantity"] {
        margin-left: 10px;
    }

    label[for="cart_adultQuantity"] {
        margin-left: 10px;
    }

    label[for="cart_pensionerQuantity"] {
        margin-left: 10px;
    }

    .cart-title {
        display: flex;
        justify-content: center;
        margin: 0;
    }
}

label[for="registration_firstname"] {
    display: flex;
    margin-left: 10px;
}

label[for="registration_lastname"] {
    display: flex;
    margin-left: 10px;
}

label[for="registration_email"] {
    display: flex;
    margin-left: 10px;
}

label[for="registration_mobile"] {
    display: flex;
    margin-left: 10px;
}

label[for="registration_password_first"] {
    display: flex;
    margin-left: 10px;
}

label[for="registration_password_second"] {
    display: flex;
    margin-left: 10px;
}

.bs-about-title {
    text-align: center;
    color: black;
    margin-top: -10px;
}

.bs--about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
}

.img-container {
    width: 250px;
    margin: 35px 15px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background: darkgrey;
    width: 100%;
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 810px) {
    .img-container {
        width: 200px;
    }
}

@media only screen and (max-width: 660px) {
    .img-container {
        width: 150px;
    }
}

@media only screen and (max-width: 510px) {
    .bs--about-content {
        display: grid;
    }

    .img-container {
        margin-bottom: -20px;
        width: 100px;
    }
}

.register-alert {
    color: blue !important;
}

.quantity-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.total-price-text-cart {
    text-align: center;
}

.price-totals-cart {
    text-align: center;
    display: block;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    text-align: center;
}

.styled-table thead tr {
    background: #009879;
    color: #ffffff;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    font-weight: bolder;
    text-align: center;
}

.styled-table tbody tr:nth-of-type(even) {
    background: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.sb--cart-container {
    display: flex;
    justify-content: center;
}

.sb--summary-container {
    display: flex;
}

.sb--summary-info {
    padding: 20px;
    width: 100%;
}

.summary-title {
    text-align: center;
    font-family: inherit;
    margin-bottom: 10px;
}

.summary-paragraph {
    text-align: center;
    font-family: inherit;
    margin-top: 10px;
}

.summary-description {
    text-align: center;
    padding: 10px;
}

.summary-main {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.sb--summary-column {
    width: 600px;
    height: 235px;
}

.grey {
    background: #aba8a7;
    margin-top: 20px;
}

.lightgrey {
    background: #dedad9;
}

.sb--summary-row {
    text-align: center;
    padding: 5px;
}

.sb--bus-company {
    display: flex;
    justify-content: center;
    padding: 10px;
}

@media only screen and (max-width: 1280px) {
    .summary-main {
        flex-direction: column;
        align-items: center;
    }

    .sb--summary-column {

    }
}

@media only screen and (max-width: 600px) {
    .sb--summary-column {
        width: 100%;
    }

    .summary-main {
        display: block;
    }
}

@media only screen and (max-width: 350px) {
    .sb--summary-column.grey {
        height: 300px;
        padding: 10px;
    }
}

.href-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.row-delete, .cart-order {
    padding: 10px;
    color: white;
    border-radius: 20px;
}

.row-delete {
    background: darkred;
}

.row-delete:hover {
    color: red;
}

.cart-order {
    background: forestgreen;
}

.dropdown-content {
    display: block;
    position: absolute;
    background: black;
    min-width: 100px;
    z-index: 1;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    color: white;
}
